{% extends 'base.html' %}

{% block content %}

{% block css %}
	<style type="text/css" media="screen">
		.pull-right {
			float: right!important;
			color: aliceblue;
			background-color: #777780;
	}
		
	</style>
{% endblock %}


{% if messages %}

{% for message in messages %}
	<p{% if message.tags == "error" %} class="alert alert-success" style='text-align: center;' 
	  {% endif %}>
	  {{ message }}</p>
{% endfor %}
{% endif %}


<table class="table table-bordered" style="text-align: center;">
	<thead>
		<tr>
			<td><b>Nome do Produto</b></td>
			<td><b>Quantidade</b></td>
			<td><b>Preço Unitário</b></td>
			<td><b>Total</b></td>
		</tr>
	</thead>
	<tbody>
{% for item in items %}
	
		<tr>
			<td> {{item.product}} </td>
			<td> {{item.quantity}} </td>
			<td> R$  {{item.product.price|floatformat:2}} </td>
			<td>R$  {{item.total|floatformat:2}} </td>
		</tr>
{% endfor %}
	<tr>
		<td colspan="2"></td>
		<td class="info"><b>Substotal:</b></td>
		<td class="info"><b>R$  {{cart.total|floatformat:2}}</b></td>
		<br><br>
	</tr>
	</tbody>
</table>

<a href="{% url 'checkout' %}" class="btn pull-right" >Checkout com Stripe</a>


		


{% endblock %}