<ul class="nav nav-justified">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{% url 'products'%}">Produtos</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="{% url 'view_cart' %}">Carrinho 
          {% if cart_items %}
          <span class="badge badge-success">
          {{cart_items}}</span> 
          {% endif %}
          </a></li>
          <li><a href="#">About</a></li>
          <li><a href="{% url 'contact_us' %}">Contact</a></li>
</ul>